* {
    /* margin: 3px; */
    /* padding: 10px; */
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.card {
    height: 300px;
    width: 200;
    background-color: white;
}