<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokerMini</title>
    <link rel="stylesheet" href="pico.blue.min.css">
    <link rel="stylesheet" href="flexboxgrid.min.css">
</head>
<body>
    <main class="container">

        Poker Mini
        <% if (!game) { %>
            <form action="/new-game" method="post">
            <button type="submit">New game</button>
        </form>
    <% } else { %>

        <% if (!!hand) { %>
            <div class="hand row">
                <article class="col-xs-offset-3 col-xs-2">
                    <span class="card card1"><%=hand[0].rank%> <%=hand[0].suit%></span>
                </article>
                <article class="col-xs-offset-1 col-xs-2">
                    <span class="card card2"><%=hand[1].rank%> <%=hand[1].suit%></span>
                </article>
            </div>
        <% } %>
        
        <% if (game.hand.currentPlayer === "human") { %>
            <div class="actions">

                <form action="/play" method="post" class="row">
                    <fieldset class="grid">

                        <button class="col-xs-4" type="submit" name="action" value="check">Check</button>
                        <div class="grid">
                            <input class="col-xs-4" type="number" name="amount" value="1">
                            <button class="col-xs-8" type="submit" name="action" value="bet">Bet</button>
                        </div>
                        <button class="col-xs-4" type="submit" name="action" value="fold">Fold</button>
                    </fieldset>
                </form>
            </div>
        <% } else { %>
            <p>Waiting for bot...</p>
            <script>
                const id = setInterval(() => {
                    fetch("/game-status")
                    .then(res => res.json())
                    .then(game => {
                        if (game.hand.currentPlayer === "human") {
                            clearInterval(id)
                            location.reload()
                        }
                    })
                }, 500)
                </script>
        <% } %>
        
        <% } %>
        
    </main>
    </body>
</html>